# Server Port Configuration
PORT=5173

# Application Environment Mode (development / production)
NODE_ENV=production

# Database Settings (Template configurations)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=kp_pakse_pos

# Firebase Admin Configuration
FIREBASE_KEY_PATH=./firebase-key.json
